/* In your CSS file */
.HolderBox {
    padding: 100px;
    width: 85%;
    margin: auto;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(121, 121, 121, 0.144);
    padding: 32px; /* equivalent to p: 2 */
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
    margin-bottom: 30px;
  }
  